<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nyinyi.menuexample">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Mainactivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Testing1"
            android:label="@string/title_activity_testing1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Testing2"
            android:label="@string/title_activity_testing2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Testing3"
            android:label="@string/title_activity_testing3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Testing4"
            android:label="@string/title_activity_testing4"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Testing5"
            android:label="@string/title_activity_testing5"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Testing6"
            android:label="@string/title_activity_testing6"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Testing7"
            android:label="@string/title_activity_testing7"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Testing8"
            android:label="@string/title_activity_testing8"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>